{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {simple_bridge, ".*", {git, "git://github.com/RomanShestakov/simple_bridge", "HEAD"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy", "HEAD"}},
    {sync,          ".*", {git, "git://github.com/rustyio/sync", "HEAD"}},
    {n2o, ".*", {git, "git://github.com/5HT/n2o", "master"}}
]}.

{post_hooks, [{compile, "cp ./src/n2o_tabs.config ./ebin/"}]}.
